<!--<div class="container-fluid map-page">
    <div class="panel panel-default panel-legend alpha60">
        <div class="panel-heading legend-heading">
            <h3 class="panel-title">Legend</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="symbol-list" ng-repeat="symbol in mapSymbols">
                        <img ng-src="{{symbol.icon}}"> <span ng-bind="symbol.name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div id="map"></div>
