<div class="container home-page">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">School</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="filter.text">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                            <div style="height: 400px; overflow-y: scroll">
                                <div class="" ng-hide="displayResults">
                                    <h4>Loading Data</h4>
                                    <h4><span class="glyphicon glyphicon-refresh"></span></h4>
                                </div>
                                <ul class="list-unstyled" ng-show="displayResults">
                                    <li ng-repeat="person in schoolModel | searchStudentStaff: filter.text:selectionFilter | orderBy: ['last_name','first_name'] | limitTo:100">
                                        <span ng-bind="person.last_name"></span>, <span ng-bind="person.first_name"></span><span class="pull-right" ng-bind="person.grade"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{selectedFilter}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="selectedFilter = 'all'; selectionFilter = -1">all</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="selectedFilter = 'students'; selectionFilter = true">students</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="selectedFilter = 'staff'; selectionFilter = false">staff</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>