html, body, #map {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'Menomonia';
    src: url('../fonts/menomonia.eot');
    src: url('../fonts/menomonia.eot?#iefix') format('embedded-opentype'),
    url('../fonts/menomonia.woff') format('woff'),
    url('../fonts/menomonia.ttf') format('truetype'),
    url('../fonts/menomonia.svg#MenomoniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Menomonia-italic';
    src: url('../fonts/menomonia-italic.eot');
    src: url('../fonts/menomonia-italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/menomonia-italic.woff') format('woff'),
    url('../fonts/menomonia-italic.ttf') format('truetype'),
    url('../fonts/menomonia-italic.svg#MenomoniaRegular') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    padding-top: 51px;
    font-family: Menomonia;
}

.leaflet-container {
    background: #000;
}

.background {
    background: url('../images/background.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-color: #000000;
}

[ng-view] {
    height: 100%;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.home-page {
    padding-top: 15px;
}

.map-page {
    padding-top: 15px;
    position: absolute;
    z-index: 2;
}

.panel-legend {
    width:200px;
}

.panel-default > .legend-heading {
    color: #DEDEDE;
    background-color: #000000;
    border-color: #DDD;
    background-image: linear-gradient(to bottom, #333333 0px, #303030 100%);
}

.legend-heading {
    padding: 4px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.symbol-list {

}

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
